.content{
  color: black;
  overflow-y:auto;
}

.table-images{
  height: 90px;
  width: 100px;
}

.table-container {
  height: 670px;
  width: 100%;
  overflow: auto;
 }
 
 .table-container table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  display: block;
 }

img{
	height: 60px;

}

th, td {
  text-align: left;
  padding: 10px;
}

th{

	position: sticky;
    background: #ddd;
    top: 0;
}

tr:nth-child(even){background-color: #eee}
tr:hover {background-color: #ddd;}

.delete-button{
  position: left;
  margin-left: 50%;
  margin-top: 5%;
  background: #11294c;
  color: whitesmoke;
  border: none;
  outline: none;
  height: 18px;
  border-radius: 45px;
  width: 50px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  display: block;
  font-family: inherit;
  font-size: 12px;
}