.content{
  color: black;
  overflow-y:auto;
}

.table-images{
  height: 90px;
  width: 100px;
}

.table-container {
  height: 670px;
  width: 100%;
  overflow: auto;
 }
 
 .table-container table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  display: block;
 }

img{
	height: 60px;

}

th, td {
  text-align: left;
  padding: 8px;
}

th{

	position: sticky;
    background: #ddd;
    top: 0;
}

tr:nth-child(even){background-color: #eee}
tr:hover {background-color: #ddd;}