*{
	box-sizing: border-box;
}

body{
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	font-family: sans-serif;
}

.container{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header{
	background-color: #f7f7f7;
	border-bottom: 1px solid #f0f0f0;
	padding: 20px 40px;
}

.header h2{
	margin: 0;
}

.form{
	padding: 30px 40px;
}

.form-control{
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
	padding: 0px;

}

.form-control label{
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input{
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: sans-serif;
	font-size: 15px;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.form-control button{
	background-color: green;
	border: 2px white;
	padding: 10px;
	width: 100%;
	color: #fff;
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	border-radius: 4px;
}