.container{
	color: black;
	position: relative;
	justify-content: center;
	width: auto;
}

h1{
	color: dimgray;
	font-size: 1.8rem;
	font-family: sans-serif;
	font-weight: 300px;
	margin-left: 45%;
}

.form{
	display: flex;
	justify-items: center;


}
.register-label{
	margin-top: 6px;
	display: block;
	color: dimgray;
	margin-bottom: 0;
	margin-left: 50%;
	font-size: 20px;
}

.register-input{
	border-radius: 45px;
	border-radius: none;
	margin-left: 30%;
	font-size: 20px;
	width: 50%;
	margin-bottom: 20px;
	margin-top: 3px;
	padding-left: 200px;
}

.register-select{
	border-radius: 45px;
	border-radius: none;
	margin-left: 30%;
	font-size: 17px;
	width: 50%;
	margin-bottom: 15px;
	margin-top: 3px;
	padding-left: 200px;

}

button{
	position: right;
	margin-left: 50%;
	margin-top: 0%;
	background: #11294c;
	color: whitesmoke;
	border: none;
	outline: none;
	height: 35px;
	border-radius: 45px;
	width: 100px;
	box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
	display: block;
	font-family: inherit;
	font-size: 16px;
}